<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kobe.lib_webview">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>